.modal {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 2rem;
    text-align: center;
    width: 40rem;
    height: 30rem;
    z-index: 10;
    position: absolute;
    top: 15vh;
    left: calc(50% - 20rem);
  }